<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>

  <div id="homepage">

    <div v-if="showPound" class="pond pointer"  @click="showModal = !showModal"></div>
    <div v-if="showShed" class="shed pointer"></div>
    <div v-if="showCastle" class="castle pointer"></div>

    <div v-if="showMenu" id="total">
      {{ total }}
    </div>

    <div id="menu_button" @click="showMenu = !showMenu">
      <img src="images/menu_btn.png" alt="">
    </div>

    <div v-if="showMenu" class="menu_bg">
      <div class="menu_item" v-if="!showPound"  @click="showPound = !showPound;">
        <img src="images/pond.png" alt="">
        Прудик
        {{ prices.pond }}
      </div>
      <div class="menu_item" v-if="!showShed"  @click="showShed = !showShed"> 
        <img src="images/shed.png" alt="">
        Сарайчик
        {{ prices.shed }}
      </div>
      <div class="menu_item" v-if="!showCastle"  @click="showCastle = !showCastle">
        <img src="images/castle.png" alt="">
        Дворец
        {{ prices.castle }}
      </div>
      <span class="close">Закрыть</span>
    </div>

    <div v-if="showModal" id="window">
      <div class="dialog_title">
        <p>Поймано рыбы: {{ bag.fish }}</p>
        <p @click="skills.fishing.view = !skills.fishing.view">Профи</p>
        <span @click="showModal = !showModal" class="dialog_close">
          <img src="images/close.svg" alt="">
        </span>
      </div>
    
      <div class="fish" @click="getResourse(fishes.crusian.type, fishes.crusian.time)" style="left: 20%; bottom: 5%">
        <span v-if="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          {{ fishes.crusian.type }}
        </span>
        <span v-else="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          Рыба
        </span>
      </div>
      <div class="fish" style="left: 70%; bottom: 18%">
        <span v-if="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          {{ fishes.crusian.type }}
        </span>
        <span v-else="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          Рыба
        </span>
      </div>
      <div class="fish" style="left: 50%; top: 85%">
        <span v-if="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          {{ fishes.crusian.type }}
        </span>
        <span v-else="skills.fishing.view" @click="showFishModal = !showFishModal" class="art_info">
          Рыба
        </span>
      </div>
    
    </div>

    <div v-show="showFishModal" id="fish">
      <div class="dialog_title">
        <span>{{ fishes.crusian.type }}</span>
        <span @click="showFishModal = !showFishModal" class="dialog_close">
          <img src="images/close.svg" alt="">
        </span>
      </div>
    
      <div class="content">
        <img src="images/crusian.png" class="fish_type" alt="">
        <div>{{ fishes.crusian.description }}</div>
      </div>
    
    </div>

    <div v-show="workModal" id="work">
      <div class="dialog_title">
        <span>Ловим {{ fishes.crusian.title }}</span>
        <span @click="workModal = !workModal" class="dialog_close">
          <img src="images/close.svg" alt="">
        </span>
      </div>
    
      <div class="content">
        <div class="loader" v-bind:style="{ width: width + '%'}"></div>
      </div>
      
      <div class="resut">{{ fishes.alert }}</div>
    
    </div>
    <div v-if="showFishModal" @click="showFishModal = !showFishModal" id="bg" class="win_fish"></div>
    <div v-if="showModal" @click="showModal = !showModal" id="bg"></div>
    <div v-if="workModal" @click="workModal = !workModal" id="bg"></div>
  </div>

  <script src="script/script.js"></script>
  
</body>
</html>