body {
  padding: 0;
  margin: 0;
  background: #000;
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  outline: none;
}
#homepage {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  height: 900px;
}
.top_menu {
  background: #F0E4AF;
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 1;
  top: 0;
  display: flex;
  padding: 3em;
  flex-wrap: wrap;
  align-items: center;
}
.top_menu div {
  width: 100px;
  cursor: pointer;
}
.top_menu div img {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.pond {
  background: url(../images/pond.png) no-repeat;
  width: 300px;
  height: 200px;
  background-size: 100%;
  position: absolute;
  bottom: calc(0% + 300px);
}
.shed {
  background: url(../images/shed.png) no-repeat;
  width: 200px;
  height: 150px;
  background-size: 100%;
  position: absolute;
  right: 2%;
  bottom: calc(0% + 400px);
}
.castle {
  background: url(../images/castle.png) no-repeat;
  width: 300px;
  height: 220px;
  background-size: 100%;
  position: absolute;
  right: 13%;
  bottom: calc(0% + 450px);
}
#menu_button {
  position: absolute;
  bottom: 1em;
  z-index: 2;
  cursor: pointer;
}
#total {
  position: absolute;
  bottom: 120px;
  z-index: 3;
  left: 30px;
  color: #7D642E;
  font-size: 2em;
}
.menu_bg {
  background: #F0E4AF;
  width: 100%;
  position: absolute;
  height: 300px;
  z-index: 1;
  bottom: 0;
  display: flex;
  padding-left: 200px;
  padding-top: 2em;
  flex-wrap: wrap;
}
.menu_bg .menu_item {
  width: 250px;
  margin: 0 1em;
  border: 1px solid #E0C280;
  height: 115px;
  background: #EDE0A6;
  border-radius: 4px;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #7D642E;
}
.menu_bg .menu_item:hover {
  background: #dfd39e;
}
.menu_bg .menu_item img {
  width: 100px;
  margin-bottom: .5em;
}
.menu_bg .close {
  background: #851E1E;
  border-radius: 4px;
  color: #F0E4AF;
  position: absolute;
  padding: .25em .5em;
  text-transform: uppercase;
  cursor: pointer;
  top: .5em;
  right: 1em;
}
#bag {
  width: 60%;
  background: url(../images/paper.jpg);
  position: fixed;
  z-index: 4;
  max-height: 300px;
  top: calc(25% - 75px);
  left: calc(50% - 30%);
  box-shadow: 0 0 2em #000;
  border-radius: 4px;
}
#bag .dialog_title {
  background: #8C1432;
  color: #BAAF11;
  font-size: 1.25em;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bag .content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: .5em;
}
#bag .content .item {
  width: 80px;
  height: 80px;
  padding: .5em .75em;
  background: #EBDCBC;
  border-radius: 4px;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5em;
  margin-bottom: .5em;
  position: relative;
  box-shadow: 0 0 1.5em #D1B986 inset;
}
#bag .content .item .counter {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #444;
}
#bag .content .item img {
  width: 100%;
}
#work {
  width: 60%;
  background: url(../images/paper.jpg);
  position: fixed;
  z-index: 4;
  max-height: 300px;
  top: calc(25% - 75px);
  left: calc(50% - 30%);
  box-shadow: 0 0 2em #000;
  border-radius: 4px;
}
#work .dialog_title {
  background: #8C1432;
  color: #BAAF11;
  font-size: 1.25em;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#work .content {
  height: 2em;
  max-width: 100%;
  border: 1px solid brown;
  padding: 2px;
  margin: 1em;
}
#work .content .loader {
  background: brown;
  width: 100%;
  display: flex;
  min-height: 100%;
}
#work .resut {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
#work .fish_type {
  width: 100px;
  padding: .5em .75em;
  background: #EBDCBC;
  border-radius: 4px;
  margin-right: 1em;
  box-shadow: 0 0 1.5em #D1B986 inset;
}
.fish {
  width: 70px;
  height: 30px;
  border: 3px solid #AFC5CC;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.art_info {
  display: flex;
  position: absolute;
  width: 100%;
  top: -1.75em;
  z-index: 5;
  font-weight: 100;
  color: #ccc;
  justify-content: center;
  align-items: center;
}
.art_info:hover {
  color: #eee;
}
#fish {
  width: 60%;
  background: url(../images/paper.jpg);
  position: fixed;
  z-index: 4;
  max-height: 300px;
  top: calc(25% - 75px);
  left: calc(50% - 30%);
  box-shadow: 0 0 2em #000;
  border-radius: 4px;
}
#fish .dialog_title {
  background: #8C1432;
  color: #BAAF11;
  font-size: 1.25em;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fish .content {
  padding: 1em;
  display: flex;
  color: #665417;
  align-items: flex-start;
}
#fish .profy {
  font-size: .9em;
  margin-left: 1em;
  font-style: italic;
  margin-left: 135px;
  margin-bottom: 1.25em;
}
#fish .fish_type {
  width: 100px;
  padding: .5em .75em;
  background: #EBDCBC;
  border-radius: 4px;
  margin-right: 1em;
  box-shadow: 0 0 1.5em #D1B986 inset;
}
#fishing {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(../images/lake.gif) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  border-radius: 4px;
  box-shadow: 0 0 2em #333;
  transition: all 1.2s ease-in-out;
}
#fishing .dialog_title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.5em;
}
#bg {
  position: absolute;
  background: #000;
  opacity: .5;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#bg.win_fish {
  z-index: 3;
}
button {
  background: #ccc;
  border-radius: 4px;
  border: none;
  padding: .5em 1em;
  font-size: 1em;
}
.dialog_title {
  padding: .5em;
  align-self: flex-start;
  width: 100%;
  text-align: right;
}
.dialog_close {
  cursor: pointer;
}
.dialog_close img {
  width: 1.25em;
  opacity: .7;
}
.dialog_close img:hover {
  opacity: 1;
}
@media (max-width: 1000px) {
  #window {
    background: violet;
  }
}
